
<p>Hi {{ recipient.name }}.</p>

<p>The {{ config.app_name }} application has been updated. Below are the latest changes.</p>

{{ changelog|raw|nl2br }}

{% if config.changelog.public_url %}
<p>View the full <a href="{{ config.changelog.public_url }}">Change Log</a> for more information.</p>
{% endif %}
